.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: inherit;
    color: inherit;
    background-color: var(--editional-background-color);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--primary-text-color-theme-dark);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.portfolio-list-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
}

.portfolio-list-link {
    display: block;

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-text-color-theme-dark);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-list-link:hover &,
    .portfolio-list-link:focus & {
        transform: translateY(0%);
    }
}

.portfolio-content {
    padding: 20px 24px;
    border-top: none;
    border-right: 1px solid var(--portfolio-cards-border-color);
    border-bottom: 1px solid var(--portfolio-cards-border-color);
    border-left: 1px solid var(--portfolio-cards-border-color);
}

.portfolio-list-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);
}

.portfolio-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text-color-theme-light);
}