:root {
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --primary-text-color-theme-dark: #ffffff;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196f3;
    --logo-header-text-color: #000000;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    --editional-background-color: #f5f4fa;
    --hero-background-color: #c4c4c4;
    --modal-btn-hover-color: #188ce8;
    --portfolio-cards-border-color: #eeeeee;
    --icon-color: #afb1b8;
    --border-color: rgba(33, 33, 33, 0.2);
}